@import url('http://fonts.googleapis.com/css?family=Lato:300');
@import url('http://fonts.googleapis.com/css?family=Oswald');

/***************************************
 * Current Style Guide
 *
 *
 * Main color: 
 * Accent color:
 *
 * Heading font: Oswald
 * Body font: Lato Light 300
 *
 */

/***************************************
 *
 *
 */

body {
	background-image: url('../images/pattern.png');
	background-repeat: repeat;
	font-family: 'Lato';
	padding-top: 50px;
	padding-bottom: 20px;
	color: white;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Oswald';
}

/***************************************
 * Navbar Custom CSS
 *
 */

.navbar-default {
	background-color: #A40032;
}
.navbar-inverse {
	background-color: #A40032;	
}
.navbar-brand>img {
	margin-top: -5px;
}

/***************************************
 * Artist Selection CSS
 *
 */

#artistSelectionForm>label {
 	display: block;
 	font-size: 300%;
 	padding-top: 50px;
 	padding-bottom: 20px;
 }

 #artistSelectionForm>.form-control {
 	width: 88%;
  	display: inline;
 }

 #artistSelectionForm {
 	width: 70%;
 }

 #artistSelection {
 	padding-bottom: 30px;
 }

 #artistSelectionForm>div {
 	padding-left: 0;
 }

 .artistSuggestionBubbles {
 	padding: 20px 0;
 	margin: 0 140px;
 }

 /***************************************
 * Location Selection CSS
 *
 */

#location-selection {
	margin: 70px 0;
}

 #map-canvas {
 	width: 100%;
 	height: 700px;
 	margin: 0;
 	padding: 0;
 }