@import url('http://fonts.googleapis.com/css?family=Lato:300');
@import url('http://fonts.googleapis.com/css?family=Oswald');

/***************************************
 * Current Style Guide
 *
 *
 * Main color: #A40032
 * Accent color:
 *
 * Heading font: Oswald
 * Body font: Lato Light 300
 *
 */

/***************************************
 * General Styling
 *
 */

body {
	background-image: url('../images/pattern.png');
	background-repeat: repeat;
	font-family: 'Lato';
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Oswald';
}

.form-control {
	background-color: rgb(238,238,238);
}

.btn {
	color: #1a1a1a;
	background-color: #FDBA51;
	border-color: #fdb038;
}

.btn:hover {
	color: #1a1a1a;
	background-color: #fca61f;
	border-color: #fc9c05;
}

.sectionHeader {
	font-size: 300%;
}

.selectionForm {
 	width: 70%;
 }

.noLeftPadding {
 	padding-left: 0;
 }

 #skipToResults {
 	position: absolute;
 	right: 0;
 	display: none;
}

/***************************************
 * Navbar Custom CSS
 *
 */

.navbar-default {
	background-color: #A40032;
}
.navbar-inverse {
	background-color: #A40032;
	border: none;
	box-shadow: 0 0 0.5em black;
}
.navbar-brand>img {
	margin-top: -5px;
}

/***************************************
 * Artist Selection CSS
 *
 */

 #artistSelection {
  	padding-top: 10%;
  	position: relative;
 }

#artistSelectionForm>label {
 	display: block;
 	padding-bottom: 3%;
 }

.col-sm-12 .form-control {
 	width: 100%;
  	display: inline;
}

.skipButtonCol {
	position: static;
}

#artistSelectionSection #skipToResults {
 	bottom: 0;
 	margin-bottom: 15px;
}

#artistSelectionSection .next.affix {
 	position: fixed;
 	bottom: 0;
	left: 50%;
	margin-left: -86px; /* Half the width of the button itself */
}

#artistSelectionSection .next.affix-bottom {
 	position: relative;
}

/* Arist Info Section */
#artistInfo {
	width: 400px;
	height: 300px;
	margin-top: 6%;
}

#artistInfo h1 {
	display: inline;
	padding-left: 30px;
}

/* For typeahead HTML */
.twitter-typeahead {
	width: 100%;
}

.tt-hint {
 	color: #999;
}

.tt-dropdown-menu {
	width: 88%;
	color: #000;
	margin-top: 12px;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 8px;
	 -moz-border-radius: 8px;
	      border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	 -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	      box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
}

.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #0097cf;
}

.tt-suggestion p {
 	margin: 0;
}

 /***************************************
 * Location Selection CSS
 *
 */

#locationSelection {
	margin: 30px 0;
	padding: 0;
}

#locationSelectionForm div {
	padding: 0;
}

#locationSearch {
	position: absolute;
	top: 810px;
	left: 25%;
	z-index: 1000;
	background-color: #A40032;
	padding: 10px 20px;
	border-radius: 6px;
	box-shadow: 1px 1px 0.7em black;
}

 #map-canvas {
 	width: 100%;
 	height: 700px;
 	margin: 0;
 	padding: 0;
}

#locationSelection form {
	z-index: 1000;
}

#locationSkipToResultsCol {
	position: relative;
}

#locationSelection #skipToResults {
	top: 120px;
	z-index: 1000;
	box-shadow: 1px 1px 0.7em black;
}

/* Skip location/continue button placement */
#locationSelection button.next.affix-top {
	position: relative;
}

#locationSelection button.next.affix {
 	position: fixed;
 	bottom: 0;
	left: 50%;
	margin-left: -72px; /* Half the width of the button itself */
}

#artistSelection button.next.affix-bottom {
 	position: relative;
}

/***************************************
 * Date Selection CSS
 *
 */

#dateSelectionForm>label {
	display: block;
	padding-bottom: 30px;
}

#calendarRow {
	width: 70%;
	margin: auto;
}

/* Making calendar fill exactly 70% of the screen */
#calendarRow>.col-lg-12 {
	padding: 0;
}

.ui-datepicker-calendar {
	margin: auto;
}

.ui-datepicker-header {
	text-align: center;
	padding: 50px 0 20px 0;
}

.ui-datepicker-prev {
	position: absolute;
	left: 150px;
}
.ui-datepicker-next {
	position: absolute;
	right: 150px;
}
.ui-corner-all .glyphicon {
	font-size: 200%;
	margin-top: 8px;
}

#datepicker td>a {
	color: black;
	display: block;
	background: white;
	padding: 20px 20px 80px 80px;
	text-align: right;
	border: 3px #ffaa33;
}

#datepicker td.ui-state-highlight>a {
	background: #ffaa33;
	text-decoration: none;
}

#datepicker td>a.ui-state-hover {
	background: #FFBE63;
	text-decoration: none;
}

#datepicker td.ui-state-highlight>a.ui-state-hover {
	background: #ffaa33; /*Darker color if desired: #FA9E1E;*/
	text-decoration: none;
}

td.ui-datepicker-unselectable {
	background: #EFEFEF;
}

.ui-datepicker-title {
	font-size: 200%;
}
