body {
	padding-top: 50px;
	padding-bottom: 20px;
	color: white;
}
.table {
	border: 1;
	color: black;
	margin-left: auto;
    margin-right: auto;
	width: 85%;
	text-align: center;

}
#query {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    width: 85%;
}