/*
 * Query Banner
 *
 */
#results-header {
	position: fixed;
	background: rgba(255,255,255,0.8);
	padding: 20px 10%;
	width: 100%;
}

#query {
    width: 85%;
    padding-bottom: 30px;
    font-size: 250%;
    color: #1a1a1a;
}

#query input {
	background: none;
	border: none;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 3px;
	box-shadow: none;
	width: 100%;
}

#searchDisplayOptions>a {
	margin: 0 3px;
}

#results-header .btn {
	color: #1a1a1a;
}

/*
 * Query Results
 *
 */
table {
	border: 1;
	color: white;
	margin: auto;
	margin-top: 200px;
	margin-bottom: 40px;
	width: 90%;
	table-layout: auto;
	border-collapse: separate;
	border-spacing: 0px 10px;
}

th, td{
	padding: 15px;
}

td {
	background: #1A1A1A;
}

tr>td:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
	width: 15%;
	padding: 5px;
}
tr>td:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

td h3 {
	font-family: 'Lato';
}

p {
	font-size: 1.5em;
}
h3 {
	margin-top: 0;
}

img#logo.img-circle {
	width: 45%;
}

/*
 * Escape Search
 *
 */
#escapeSearch>label {
	padding: 0 15px;
	color: #1a1a1a;
}

/*
 * Related Artists Section
 *
 */
#related-artists {
	margin-top: 80px;
	width: 85%; /* Same as table of resutls */
}

#related-artists h3 {
	margin-bottom: 30px;
}

#artist-suggestion {
	text-align: center;
}

#artist-suggestion img {
	width: 70%;
	margin-bottom: 20px;
}

#artist-suggestion .darken {
 	-webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
            color: white;
}

#artist-suggestion .darken:hover {
	 opacity: 0.4;
}

#artist-suggestion a {
	color: white;
 	-webkit-transition: all 0.05s linear;
       -moz-transition: all 0.05s linear;
        -ms-transition: all 0.05s linear;
         -o-transition: all 0.05s linear;
            transition: all 0.05s linear;
}

#artist-suggestion a:hover {
	color: #1A1A1A;
	text-decoration: none;
}
