table {
	border: 1;
	color: black;
	margin: auto;
	margin-top: 150px;
	width: 85%;
	text-align: center;
	table-layout: auto;
}

th, td{
	padding: 15px;
}


#results-header {
	position: fixed;
	background: rgba(255,255,255,0.8);
	padding: 20px 10%;
	width: 100%;
}

#query {
    width: 85%;
    padding-bottom: 30px;
    font-size: 300%;
    color: black;
}

#query input {
	background: none;
	border: none;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 3px;
	box-shadow: none;
	width: 100%;
}

#searchDisplayOptions>a {
	margin: 0 3px;
}